---
---
<section class="work">
    <h2 class="section__title">WORKS</h2>
    <ul class="work__ul">
        <li class="work__li"><a href="/works/web-01.html"><img src="/images/WebSite-mock-up.jpg" alt="" srcset="" class="work__img"><h3 class="ul-title">飲食店WEBサイト</h3><p class="work__ul-text">デザイン、コーディング</p></a></li>
        <li class="work__li"><a href=""><img src="/images/WebSite-mock-up.jpg" alt="" srcset="" class="work__img"><h3 class="ul-title">イベントチラシ</h3><p class="work__ul-text">デザイン</p></a></li>
        <li class="work__li"><a href=""><img src="/images/WebSite-mock-up.jpg" alt="" srcset="" class="work__img"><h3 class="ul-title">名刺</h3><p class="work__ul-text">デザイン、3DCG</p></a></li>
    </ul>
</section>

<section class="about">
    <h2 class="section__title">ABOUT</h2>
    <div class="about__item">
        <div class="about__image"></div>
        <div class="about__text">
            <h3 class="ul-title">SHIZUKA.T</h3>
            <p class="about__p">レタッチャー5年、EC運営2年。
                商品LP作成、UI改善、SNSの発信内容企画、投稿画像作成、印刷物作成を経験。
                フロントエンド、3DCGの学習を進め、印象的な表現を追求しています。
                趣味はカメラとイラスト、ゲーム（ホラー多め）。
            </p>
            <div class="about__sns-wrapper">
                <a href="" class="about__sns">Instagram</a>
                <a href="" class="about__sns">X</a>
                <a href="" class="about__sns">Discord</a>
            </div>
        </div>
    </div>
</section>
