<header class="header">
  <h1 class="header__logo">
      <a href="#">
          <p class="header__logo-text">Portfolio</p>
          <p class="header__logo-text-name">SHIZUKA.T</p>
      </a>
  </h1>
  <nav class="header__nav">
      <ul class="header__nav-list">
          <li class="header__nav-item">
              <a href="#work">
              <p class="header__nav-item-text">WORKS</p>
              </a>
          </li>
          <li class="header__nav-item">
              <a href="#gallery">
              <p class="header__nav-item-text">GALLERY</p>
              </a>
          </li>
          <li class="header__nav-item">
              <a href="https://www.instagram.com/shizu_web/">
                  <img src="public/images/snsIcon-1.png" alt="" class="icon1">
              </a>
          </li>
      </ul>
  </nav>
  <button class="menuButton"></button>
</header>

<header class="header header-fixed" id="js-header">
  <h1 class="header__logo">
      <a href="#">
          <p class="header__logo-text">Portfolio</p>
          <p class="header__logo-text-name">SHIZUKA.T</p>
      </a>
  </h1>
  <nav class="header__nav">
      <ul class="header__nav-list">
          <li class="header__nav-item">
              <a href="#work">
              <p class="header__nav-item-text">WORKS</p>
              </a>
          </li>
          <li class="header__nav-item">
              <a href="#gallery">
              <p class="header__nav-item-text">GALLERY</p>
              </a>
          </li>
          <li class="header__nav-item">
              <a href="https://www.instagram.com/shizu_web/">
                  <img src="public/images/snsIcon-1.png" alt="" class="icon1">
              </a>
          </li>
      </ul>
  </nav>
  <button class="menuButton"></button>
</header>
