:root {
  --spacing: .25rem;
  --bgcolor: #eee;
  --bgcolor-sec: #333;
  --fontcolor: #000;
  --padding: 6rem;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: #fff;
}
/* body::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #9f94e4;
  background: linear-gradient(#9f94e4,#fad4d4);
  z-index: -1;

} */
.header {
  text-align: end;
  position: fixed;
  top: 6rem;
  right: 6rem;
  /* width: 90%; */
  z-index: 2;
  mix-blend-mode: difference;
}
.header__nav-item {
  padding-bottom: 2rem;
  color: #fff;
}
.hero {
  width: 90%;
  margin: 0 auto 0;
  height: 100vh;
  position: relative;
}
.hero__heading {
  position: absolute;
  bottom: 6rem;
  font-size: 10rem;
  display: flex;
  flex-direction: column;
}
.hero__heading-text {
  overflow: hidden;
}
.hero__smalltext {
  padding-top: .25rem;
}

.site {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20rem auto 0;
}
.site__ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5625em 2.46154%;
  margin-top: 6rem;
}
.site__img {
  max-width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20rem auto 0;
}
.about__item {
  width: 70%;
  /* display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center; */
  margin-top: 6rem;

  column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.about__image {
  border: 1px solid #000;
  background-color: var(--bgcolor);
  color: #fff;
  /* flex: 0 0 auto; */
  aspect-ratio: 1/1;

  grid-column-end: span 5;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
.about__p {
  margin-top: 2rem;

}
.about__text {
  /* flex: 0 1 auto; */
  grid-column-start: 7;
  grid-column-end: span 6;
  margin-top: 2rem;
}
.gallery {
  width: 100%;
  /* padding: 100px 0; */
  margin: 10rem auto 0;
  background-color: var(--fontcolor);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.side-scroll-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.side-scroll-heading {
  color: var(--bgcolor);
  text-align: center;
  padding-top: 6rem;
}
.side-scroll-list-wrapper {
  position: relative;
  width: 100%;
  /* height: 100%; */
}
.side-scroll-list {
  position: absolute;
  top: 6rem;
  left: 0;
  display: flex;
}
.side-scroll-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  aspect-ratio: 3 / 2;
  background-color: var(--bgcolor);
  color: var(--fontcolor);
  font-size: 32px;
  font-weight: 700;
}
.side-scroll-item + .side-scroll-item {
  margin-left: 2rem;
}
.footer {
  margin-top: 10rem;
  padding: 2rem 0 ;
  color: #fff;
  z-index: 1;
  background: var(--bgcolor-sec);
  display: flex;
  gap: 2rem;
  justify-content: center;
  height: 2000px;
}



@media screen and (max-width:768px) {
  .header {
    top: 3rem;
    right: 1rem;
  }
  .hero__heading {
    font-size: 5rem;
  }
  .site {
    margin: 5rem auto 0;
  }
  .site__ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.5625em 2.46154%;
    margin-top: 6rem;
  }
  .about {
    margin: 5rem auto 0;
  }
  .about__image {
    grid-column-end: span 12;
  }
  .about__text {
    grid-column-start: 1;
    grid-column-end: span 12;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.fadeup {
  opacity: 0;
  transform: translateY(calc(var(--spacing) * 12));
  transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1),
              transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  --index: 0;
  transition-delay: calc(var(--index) * 0.2s);
  }
  .fadeup.is-active {
  opacity: 1;
  transform: translateY(0);
  }

  .blur {
    opacity: 0;
    filter: blur(calc(var(--spacing) * 2));
    transform: translateY(calc(var(--spacing) * 7));
    transition: opacity 1s ease-out,
                filter 1s ease-out,
                transform 1s ease-out;
    --index: 0;
    transition-delay: calc(var(--index) * 0.2s);

  }
  
  .blur.is-active {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }