:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --spacing: .25rem;
  /* 4*8=32,*15=60,*25=100,*30=120 */
  --LAYOUT-MARGIN-INLINE: 1.25rem;
  --text-xs: .75rem;
  --text-xs--line-height: calc(1 / .75);
  --text-sm: .875rem;
  --text-sm--line-height: calc(1.25 / .875);
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-10xl: 10rem;
  --text-5xl--line-height: 1;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
html,body {
  height:100%;
  margin:0;
}
a {
  color: #4F4F4F;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F3F3F3;
  color: #4F4F4F;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  line-height: 1.1;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--text-10xl);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#glcanvas {
  position: fixed; /* 背景に固定 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 0; /* 一番下 */
  pointer-events: none;
}
/* UI は前面に重ねる */
.wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  z-index: 10; /* canvas より前面 */
  pointer-events: auto;
}
.header {
  margin-bottom: 200px;
}
.nav__group {
  text-align: right;
  width: 100%;
}
.nav__item {
  gap: calc(var(--spacing) * 1);
  justify-content: flex-end;
}
.nav__list {
  text-align: right;
  padding-bottom: calc(var(--spacing) * 3);
}
.nav__link {
  font-size: var(--text-xl);
  pointer-events: auto; /* nav のリンクはクリックできるように戻す */
}
.about__content {
  text-align: center;
  margin-bottom: 200px;
}
.about__heading {
  font-size: var(--text-5xl);
  padding-bottom: 100px;
}
.about__item {
  display: flex;
  justify-content: center;
  gap: 100px;
  max-width: 1000px;
  margin: 0 auto;
}
.about__group {
  width: 60%;
  text-align: left;
}
.about__name {
  font-size: var(--text-3xl);
  padding-bottom: 60px;

}
.about__text {
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
