:root {
  --bgcolor: #eee;
  --bgcolor-sec: #333;
  --fontcolor: #000;
  --padding: 6rem;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: #fff;
}
/* body::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #9f94e4;
  background: linear-gradient(#9f94e4,#fad4d4);
  z-index: -1;

} */
.header {
  text-align: end;
  position: fixed;
  width: 100%;
  top: 6rem;
  right: 1rem;
  z-index: 2;
  mix-blend-mode: difference;
}
.header__nav-item {
  font-size: 1.15rem;
  padding-bottom: 2rem;
  color: #fff;
}
.hero {
  width: 90%;
  margin: 0 auto 0;
  height: 100vh;
  position: relative;
}
.hero__heading {
  position: absolute;
  bottom: 2rem;
  font-size: 10rem;
  display: flex;
  flex-direction: column;
}
.hero__heading-text {
  overflow: hidden;
}
.hero__smalltext {
  padding-top: .25rem;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20rem auto 0;
}
.about__item {
  width: 70%;
  /* display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center; */
  margin-top: 6rem;

  column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.about__image {
  border: 1px solid #000;
  background-color: var(--bgcolor);
  color: #fff;
  /* flex: 0 0 auto; */
  aspect-ratio: 1/1;

  grid-column-end: span 5;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
.about__p {
  margin-top: 2rem;

}
.about__text {
  /* flex: 0 1 auto; */
  grid-column-start: 7;
  grid-column-end: span 6;
  margin-top: 2rem;
}
.gallery {
  width: 100%;
  padding: 100px 0;
  /* margin: 10rem auto 0; */
  background-color: var(--fontcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.side-scroll-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}
.side-scroll-heading {
  color: var(--bgcolor);
}
.side-scroll-list-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
}
.side-scroll-list {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
}
.side-scroll-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: var(--bgcolor);
  color: var(--fontcolor);
  font-size: 32px;
  font-weight: 700;
}
.side-scroll-item + .side-scroll-item {
  margin-left: 2rem;
}
.footer {
  margin-top: 10rem;
  padding: 2rem 0 ;
  color: #fff;
  z-index: 1;
  background: var(--bgcolor-sec);
  display: flex;
  gap: 2rem;
  justify-content: center;
}



@media screen and (max-width:768px) {
  .hero__heading {
    font-size: 5rem;
  }
  .about {
    margin: 5rem auto 0;
  }
  .about__image {
    grid-column-end: span 12;
  }
  .about__text {
    grid-column-start: 1;
    grid-column-end: span 12;
  }
  h2 {
    font-size: 2rem;
    
  }
}