:root {
  --bgcolor: #eee;
  --bgcolor-sec: #333;
  --fontcolor: #000;
  --padding: 6rem;
}
body {
  margin: 0;
}
/* canvas {
  display: block; 
} */
/* .container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  z-index: 1;
  color: #000;
} */
.header {
  width: 90%;
  margin: 0 auto;
  text-align: end;
  position: sticky;
  top: 6rem;
  z-index: 2;
}
.header__nav-item {
  font-size: 1.15rem;
  padding-bottom: 2rem;
}
.hero {
  width: 90%;
  margin: 20rem auto 0;
}
.hero__heading {
  font-size: 10rem;
  display: flex;
  flex-direction: column;
}
.hero__heading-text {
  overflow: hidden;
}
.hero__smalltext {
  padding-top: .25rem;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20rem auto 0;
}
.about__item {
  width: 70%;
  /* display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center; */
  margin-top: 6rem;

  column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.about__image {
  border: 1px solid #000;
  background-color: var(--bgcolor);
  color: #fff;
  /* flex: 0 0 auto; */
  aspect-ratio: 1/1;

  grid-column-end: span 5;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
.about__p {
  margin-top: 2rem;

}
.about__text {
  /* flex: 0 1 auto; */
  grid-column-start: 7;
  grid-column-end: span 6;
  margin-top: 2rem;
}
@media screen and (max-width:768px) {
  .about__image {
    grid-column-end: span 12;
  }
  .about__text {
    grid-column-start: 1;
    grid-column-end: span 12;
  }
}

.gallery {
  display: flex;
  margin: 10rem auto 0;
  gap: 3rem;
}
.gallery__image {
  width: 30rem;
  height: 30rem;
  border: 1px solid #000;
  background-color: var(--bgcolor);
  color: #fff;
}
.footer {
  margin-top: 10rem;
  padding: 2rem 0 ;
  color: #fff;
  z-index: 1;
  background: var(--bgcolor-sec);
  display: flex;
  gap: 2rem;
  justify-content: center;
}


