<section class="detail">
  <div class="detail__item">
      <div class="detail__image"></div>
      <div class="detail__text">
          <h2 class="detail__title">飲食店WEBサイト</h2>
          <h3 class="detail__subtitle">デザイン、コーディング</h3>
          <p class="detail__p">ユーザーが「直感的に操作したくなるデザイン」や「思わず触れたくなる導線設計」を形にできるエンジニアを目指しています。技術力とユーザー視点の両面を磨き、価値あるサービスの創出に貢献していきたいです。

          Blenderではオーロラやガラスなどの幻想的な表現を好み、作成しています。ライティングや反射によって同じもののないモデルが生まれます。これはオリジナリティとなり自己表現へと繋がると感じています。
              </p>
          <a href="" class="detail__sns">サイトを見る→</a>
      </div>
  </div>
  <img src="../public/images/flower_2.jpg" alt="" srcset="" class="detail__image-small">
  <img src="../public/images/flower_2.jpg" alt="" srcset="" class="detail__image-small">
  <div class="detail__button">
      <a href="" class="detail__button-parts">←前へ</a>
      <a href="../works.html" class="detail__button-parts">WORK一覧</a>
      <a href="" class="detail__button-parts">次へ→</a>
  </div>
</section>
